<template>
  <div class="card">
    <nuxt-link :to="'/product/' + product.id" class="link">
      <div class="layout-v layout-center p-10">
        <div v-if="product.amazing" class="amazing-tag layout-h layout-center-center mx-5">
          <span class="amazing-title">فروش ویژه</span>
        </div>
        <div class="full-width p-relative layout-h layout-center-center">
          <img class="product-image" :src="product.image" :alt="product.title" />

          <div class="color-container layout-v" v-if="product.colors.length">
            <div
              v-for="color in product.colors"
              :key="'color-' + color.id"
              :title="color.name"
              class="colors"
              :style="{ 'background-color': color.code }"
            />
          </div>
        </div>

        <h4 class="title">{{ product.title }}</h4>

        <div class="layout-v">
          <div v-if="checkDiscount" class="layout-v">
            <div class="layout-h">
              <div class="before-discount">{{ numberWithCommas(product.price.amount) }}</div>
              <span class="discount-style">%{{ product.price.discount_percent }}</span>
            </div>
            <div class="layout-h">
              <span class="price-num">{{ numberWithCommas(product.price.final_amount) }}</span>
              <span class="unit m-5">تومان</span>
            </div>
          </div>
          <div class="layout-h mt-30" v-else>
            <span class="unit m-5">تومان</span>
            <span class="price-num">{{ numberWithCommas(product.price.final_amount) }}</span>
          </div>
        </div>
      </div>
    </nuxt-link>
    <div class="full-width layout-v layout-center my-10 p-10">
      <button class="btn-primary" @click="addtoCart">اضافه کردن به سبد خرید</button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      required: true,
    },
  },
  computed: {
    checkDiscount() {
      if (this.product.price && this.product.price.discount_percent === 0) {
        return false;
      }
      return true;
    },
  },
  methods: {
    addtoCart() {
      const { id, title, image, price } = this.product;

      this.$store.dispatch("cart/increaseAmount", {
        product: {
          id,
          title,
          image,
        },
        price,
        amount: 1,
      });
    },
  },
};
</script>

<style scoped>
.add {
  cursor: pointer;
}
.unit {
  font-size: 0.714rem;
  font-weight: 300;
  color: rgba(63, 62, 62, 0.867);
}
.price-num {
  font-size: 1.143rem;
  font-weight: 400;
}
.product-image {
  margin-top: 10px;
  height: 130px;
  max-width: 100%;
  min-height: 80px;
}
.card:hover {
  box-shadow: 0px 0px 5px 1px #eeefff;
  transform: translateY(-5px);
  border-radius: 3%;
  transition-duration: 0.4s;
}
.title {
  font-size: 0.75em;
  font-weight: 600;
  opacity: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  line-height: 20px;
}
.colors {
  margin-top: 5px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
.color-container {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  padding-right: 10px;
}
.discount-style {
  font-size: 0.8rem;
  line-height: 1;
  font-weight: 700;
  padding-top: 10px;
  background-color: #fb3449;
  color: #fff;
  border-radius: 16px;
  margin-right: 4px;
  width: 40px;
  height: 25px;
  text-align: center;
}
.before-discount {
  font-size: 13px;
  font-size: 0.929rem;
  line-height: 1.692;
  color: #ababab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  margin-left: 10px;
}
.amazing-tag {
  border-bottom: 1px solid #fb3449;
  width: 90%;
}
.amazing-title {
  color: #fb3449;
  font-size: 1em;
}
.link {
  text-decoration: none;
  color: inherit;
  height: 100%;
}
</style>
