<template>
  <div class="basket-container">
    <div class="basket-info">
      <div class="row1">
        <span>شما</span>
        <div class="count">{{ count }}</div>
        <span>محصول</span>
      </div>
      <div class="row1 mt-4">
        <span>در سبد خرید خود دارید</span>
      </div>
    </div>
    <BasketItems :items="cartItems" />
  </div>
</template>

<script>
import BasketItems from "./BasketItems";
export default {
  computed: {
    cartItems() {
      return this.$store.state.cart.items || [];
    },
    count() {
      return this.cartItems.length;
    },
  },
};
</script>

<style scoped>
.basket-container:hover .cart-wrapper {
  display: block;
}
.basket-container {
  height: 100%;
  width: 20%;
  margin: 20px 30px 20px 0;
  display: flex;
  flex-direction: row;
  position: relative;
}
.icon {
  font-size: 40px;
}
.icon-container {
  padding-top: 10px;
}
.basket-info {
  margin: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.count {
  width: 40px;
  line-height: 23px;
  border-radius: 10px;
  margin: 0 5px 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5px;
  transition: 0.3s;
  background: #f1f1f1;
}
.count:hover {
  background-color: red;
  color: white;
}
.row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .basket-container {
    width: 100%;
    margin: 0;
    padding: 10px;
    padding-right: 20px;
    align-items: center;
    justify-content: flex-start;
  }
  .basket-info {
    margin: 0;
    margin-right: 10px;
  }
}
</style>
