<template>
  <div class="cart-wrapper">
    <div v-if="items.length" class="layout-h layout-center layout-justified p-12">
      <div>
        {{items.length}}
        کالا
      </div>
      <div>
        <nuxt-link to="/">مشاهده سبد خرید</nuxt-link>
      </div>
    </div>
    <ul class="items my-0">
      <li
        class="py-15 px-10 layout-h layout-justified"
        v-for="(item, index) in items"
        :key="'basket'+ item.product.id"
      >
        <nuxt-link :to="'/product/' + item.product.id">
          <div class="img-wrapper layout-h layout-center">
            <img :alt="item.product.title" :src="item.product.image" />
          </div>
        </nuxt-link>
        <div class="content">
          <p class="title">{{item.product.title}}</p>
          <div class="list layout-h layout-center">
            <img class="icons ml-5" @click="add(item)" src="images/plus.svg" />
            <span class="list-item">{{item.amount}} عدد</span>
            <img class="icons mr-5" @click="descreese(item)" src="images/minus.svg" />
          </div>
        </div>
      </li>
    </ul>
    <div v-if="items.length" class="total layout-h layout-center layout-around-justified">
      <span>مبلغ قابل پرداخت</span>
      <p>
        <span>{{numberWithCommas(final_amount)}}</span>
        <span>تومان</span>
      </p>
    </div>
    <div class="total p-10" v-else>کالایی در سبد وجود ندارد.</div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    final_amount() {
      let price = 0;
      this.items.map((item) => {
        price += item.price.final_amount;
      });
      return price;
    },
  },
  methods: {
    add(item) {
      const { amount, price, product } = item;

      this.$store.dispatch("cart/increaseAmount", {
        product,
        price,
        amount: amount + 1,
      });
    },
    descreese(item) {
      const { amount, price, product } = item;

      this.$store.dispatch("cart/decreaseAmount", {
        price,
        product,
        amount: amount - 1,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.icons {
  width: 20px;
  cursor: pointer;
}
.cart-wrapper {
  display: none;
  position: absolute;
  right: 0;
  top: calc(100% - 3px);
  width: 300px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  z-index: 150;
  a {
    color: #4a5f73;
    font-size: 13px;
    font-weight: bold;
  }
  .list {
    color: #81858b;
    font-size: 0.714rem;
    line-height: normal;
    .color-badge {
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.3);
      margin-left: 6px;
    }
  }
  p {
    line-height: 20px;
  }
}
.items {
  border-top: 1px solid #f0f0f1;
  max-height: 293px;
  overflow: auto;
  li {
    border-bottom: 1px solid #f0f0f1;
  }
}
.img-wrapper {
  width: 75px;
  height: 75px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  -webkit-box-flex: 0;
  flex: 0 0 75px;
  max-width: 75px;
  position: relative;
  img {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    line-height: 22px;
    font-size: 10px;
  }
}
.total {
  color: #515151;
  font-size: 15px;
  font-weight: bold;
  line-height: 2.2;
}
</style>