<template>
  <div>
    <p v-if="!product.id">محصول یافت نشد.</p>
    <div class="layout-v layout-center" v-else>
      <img class="product-image" :src="product.image" :alt="product.title" />
      <h3>{{ product.title }}</h3>
      <p>{{ product.desc }}</p>
      <button class="btn-primary" @click="addtoCart">اضافه کردن به سبد خرید</button>
    </div>
  </div>
</template>

<script>
import sampleItems from "@/config/sampleItems";
export default {
  computed: {
    product() {
      return this.products.find((item) => item.id == this.productId) || {};
    },
    productId() {
      return this.$route.params.id;
    },
    products() {
      return sampleItems;
    },
  },
  methods: {
    addtoCart() {
      const { id, title, image, price } = this.product;

      this.$store.dispatch("cart/increaseAmount", {
        product: {
          id,
          title,
          image,
        },
        price,
        amount: 1,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.product-image {
  max-height: 400px;
}
</style>