.btn-primary {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  font-weight: 400;
  height: 48px;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  user-select: none;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: inherit;
  cursor: pointer;
}
