html {
  font-family: iranyekan;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  direction: rtl;
}

body {
  padding: 0 !important;
  font-family: iranyekan;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  direction: rtl;
}

.el-pagination.is-background {
  margin-top: 20px;
}

.pagination {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
}

.back-btn-global {
  width: 90%;
  max-width: 200px;
  margin: 10px 0;
  display: block;
  align-self: flex-end;
}

.align-self-left {
  align-self: flex-end;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
