<template>
  <div>
    <div class="product-container">
      <AsyncProductCard v-for="product in products" :key="product.key" :product="product" />
    </div>
    <infinite-loading @infinite="infiniteHandler"></infinite-loading>
  </div>
</template>

<script>
import sampleItems from "@/config/sampleItems";
import InfiniteLoading from "vue-infinite-loading";
const AsyncProductCard = () =>
  import(
    /* Product Card component. */ "@/components/Common/ProductCard/ProductCard"
  );

export default {
  components: {
    AsyncProductCard,
    InfiniteLoading,
  },
  data() {
    return {
      products: [],
    };
  },
  beforeMount() {
    this.generateProducts(50);
  },
  methods: {
    generateProducts(count) {
      let i;
      for (i = 0; i < count; i++) {
        this.products.push({
          ...sampleItems[Math.floor(Math.random() * 3)],
          key: new Date().getTime() + i,
        });
      }
    },
    infiniteHandler($state) {
      if (this.products.length > 950) {
        $state.complete();
      } else {
        setTimeout(() => {
          this.generateProducts(50);
          $state.loaded();
        }, 1000);
      }
    },
  },
};
</script>

<style scoped>
.product-container {
  display: flex;
  flex-wrap: wrap;
}
</style>
