<template>
  <div>
    <products />
  </div>
</template>

<script>
import Products from "@/components/Pages/Index/Products/Products";
export default {
  components: {
    Products,
  },
};
</script>

<style scoped>
</style>
