<template>
  <div>
    <Basket />
  </div>
</template>

<script>
import Basket from "@/components/Common/Basket/Basket";
export default {
  components: {
    Basket,
  },
};
</script>

<style lang="scss" scoped>
</style>